#containerHeader {
    display: flex;
    flex-flow: column;
    padding: 10px;
    margin: 5px;
    height: 150px;
}

#containerNav {
    display: flex;
    flex-flow: row;
    padding: 10px;
    margin: 5px;
}

#containerMiddle {
    display: flex;
    flex-flow: row;    
   }

#infosTut {
   display: flex;
   flex-flow: row;
}


#containerMain {
    flex: 1 1 80%;
    display: flex;
    flex-flow:column;
    padding: 10px;
    margin: 5px;
}

#containerSide {
   flex: 1 1 20%;
   padding: 10px;
   margin: 5px;
}

#containerFooter {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 10px;
    margin: 5px;
}

@media screen and (max-width: 768px) {
    #containerMiddle {
      flex-direction: column;
    }
    h1{font-size: 80%;}

  }

  @media screen and (max-width: 480px) {

    h1{display:none;}

    #containerNav{
        display: flex;
        flex-flow: column;
    }
  }
