#gridcontainer {
    display: grid;
    grid-template-areas:"header header" 
                        "nav nav"
                        "main side"
                        "footer footer";
    grid-template-columns: auto 20%;
    height: 150px;
}



header { 
    grid-area: header; 
    padding: 10px;
    margin: 5px;
}
nav { 
    grid-area: nav;
    padding: 10px;
    margin: 5px;
 }
aside { 
    grid-area: side; 
    padding: 10px;
    margin: 5px;
}
footer { 
    grid-area: footer;
    padding: 10px;
    margin: 5px;
}

main {
    grid-area: main;
    padding: 10px;
    margin: 5px;
}

@media screen and (max-width:768px) {
    #gridcontainer {
        display: grid;
        grid-template-areas:"header header" 
                            "nav nav"
                            "main main"
                            "side side"
                            "footer footer";
        grid-template-columns: auto 20%;
        height: 150px;
    }
}

